.block {
    background-color:#EAF8FB;
    border: 1px solid #D3E2E5;
    position: relative;
    margin-bottom: 20px;
    padding-top: 10px;
    border-radius: 3px;

    &-inner {
        padding: 15px;
        padding-top: 5px;

        .block-body {
            padding-bottom: 10px;
            &:empty {
                padding-bottom: 0;
            }
        }

        .block-detail {
            padding: 0 30px;
        }
        .page-components {
            padding: 5px;
        }

.block-drag-handle {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
  cursor: move;
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  font-size: 1.5em;
  padding: 10px;

  &:hover {
    opacity: 1;
  }
}

.block-placeholder {
  border: 2px dashed #888;
  background-color: #555;
  margin-bottom: 20px;
}
    }

    &-edit-panel {
        position: absolute;
        right: 0;
        top: 0;
    }
}